<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" android:versionName="3" package="com.ivo.Late2Meet" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="28" />
	<application android:label="Late2Meet.Android" android:icon="@drawable/l2m_logo"></application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>